

body{
	font-family: 'Titillium Web', sans-serif; 
	color: #333;
	font-size: 16px;
}
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
ul, ol{ 
	padding: 0;
	margin: 0;
	list-style: none;
 }
 a{
 	color: #000;
 	text-decoration: none;
 }
img{
	width: 100%;
}
.container{
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}
.flexbox{
	display: flex;
}	
.space-between{
	justify-content: space-between;
}
.top-header{
	border-bottom: 1px solid #ccc;
	padding: 10px 0;
}
.top-header .address{
	color: #808292;
}
.wrap-socials a{
	padding-left: 10px;
	color: #808292;
}
.wrap-socials a:hover{
	color: #259cd8;
}
.navigation-menu {
	align-items: center;
}
.navigation-menu .wrap-logo{
	padding: 10px 0;
	width: 170px;
}
.wrap-menu-child{
	display: none;
	background-color: #fff;
	box-shadow: 0px 2px 4px #ccc;
	padding: 20px;
	transition: 0.3s;
}
.list-menu{
	position: relative;
}
.list-menu .item-menu{
	padding: 32px 20px;
}
.list-menu .item-menu a{
	color: #000;
	font-size: 18px;
}
.list-menu .item-menu .fa{
	font-size: 14px;
}
.list-menu .item-menu a:hover{
	color: #259cd8;
}
.list-menu .item-menu a:hover + .wrap-menu-child,
.list-menu .item-menu:hover .wrap-menu-child{
	display: block;
	position: absolute;
	top: 84px;
	z-index: 999;
	
}
.list-menu-child .item-menu-child{
	padding: 10px 0;
}
.list-menu-child .item-menu-child a{
	font-size: 16px;
}
.list-lang-user .item {
	margin-left: 10px;
}
.list-lang-user .item .form-select{
	border: none;
	outline: none;
}
.list-lang-user .item a:hover i{
	color: #259cd8;
}
.sec-banner{
	height: 900px;
	background-image: url('../images/banner-bg.jpg');
	background-repeat: no-repeat;
	padding-top: 10px;
    background-color: #cdebfc;
    background-position: left bottom;
    background-size: cover;
    position: relative;

}
.wrap-content-images{
	padding-top: 50px;
}

.wrap-col-lf-content {
	font-family: 'Fredoka One', cursive;
	font-size: 20px;
}
.wrap-col-lf-content h1{
	font-size: 65px;
	margin-bottom: 15px;
	font-family: 'Luckiest Guy', cursive;
	padding-top: 10px;	
	
}
.banner-content{
	padding-top: 200px;
}
.shop-now-link:hover{
	background-color: #212529;
}
.shop-now-link{
	width: 150px;
	color: #fff;
	background-color: #259cd8;
	text-align: center;
	margin-top: 10px;
    padding: 5px;
}
.main-banner{
	z-index: -1;
	
}
.wrap-col-rg-images{
	width: 50%;
}
.banner2{
	width: 300px;
	position: absolute;
	bottom: 10%;
	left: 35%;
}
.banner3{
	width: 300px;
	position: absolute;
	top: 20%;
	right: 20%;	
}
.offer-patoi{
	background-color: #fff;
	padding-top: 100px;
}
.wrap-offer-img{
	justify-content: space-between;
	width: 100%;
	padding-top: 100px;
}
.singel-offer{
	margin-right: 20px;

}
.patoi-title{
	text-align: center;
	margin-bottom: 0;
	padding: 50px;
	font-size: 35px;
}

.wrap-item-categories{
	width: 100%;
	text-align: center;
}		 
  .shop-grid{
	padding: 10px 10px 15px;
	border: 1px solid #eeeeee;
	margin-right: 20px;
}   
.wrap-product-img-content {
	flex-wrap: wrap;
	justify-content: space-between;
}
.wrap-product-img-content .product-img-content{
	width: calc(100% * (1/4) - 20px);
	margin: 0 0 20px 0px;
}
.single-product .img {
	position: relative;
}
.products-botton{
	display: flex;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
    opacity: 0;
}
.products-botton:hover {
	bottom: 30px;
	opacity: 2;
    bottom: 20px;
    
}

.products-botton li{
	align-items: center;
	margin-right: 10px;
	margin-left: 20px;
}
.Hot{
	background-color: #FBBF69;
    color: white;
    position: absolute;
    padding: 2px 12px;
    left: 10px;
    top: 10px;
    font-size: 12px;
     font-weight: 600;
}
.On-Sale{
	background-color: green;
    color: white;
    position: absolute;
    padding: 2px 12px;
    left: 10px;
    top: 10px;
    font-size: 12px;
     font-weight: 600;
}
.content{
	margin-top: 20px;
}
.content h3 a:hover {
	color: #0dcaf0;

}
.rating{
	color: #ffc107;

}
.price{
	color: #000;
	font-size: 15px

}
.products-botton .fas{
	background-color: white;
	padding: 10px;
}
.products-botton .fas:hover{
	background-color: #0dcaf0;
}
.products-botton .far{
	background-color: white;
	padding: 10px;
}
.products-botton .far:hover{
	background-color: #0dcaf0;
}
.old-price{
	color: #ccc;
	text-decoration: line-through;
}
.single-product-images{
	margin-left: 10px;
}
.single-product-images .img{
	position: relative;
}
.products-botton1{
	display: flex;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
    opacity: 0;
}
.products-botton1:hover{
	bottom: 30px;
	opacity: 1;
    bottom: 20px;
}
.products-botton1 li{
	align-items: center;
	margin-right: 10px;
	margin-left: 10px;
}
.products-botton1 .fas{
	background-color: white;
	padding: 10px;
}
.products-botton1 .fas:hover{
	background-color: #0dcaf0;
}
.products-botton1 .far{
	background-color: white;
	padding: 10px;
}
.products-botton1 .far:hover{
	background-color: #0dcaf0;
}	
.New{
	background-color: #259cd8;
    color: white;
    position: absolute;
    padding: 2px 12px;
    right: 10px;
    top: 10px;
    font-size: 12px;
     font-weight: 600;
}
.Sold{
	background-color: #df2d22;
    color: white;
    position: absolute;
    padding: 2px 12px;
    right: 10px;
    top: 10px;
    font-size: 12px;
     font-weight: 600;
}
.offer-patoi1{
	padding-top: 30px;
}
.section-title{
	text-align: center;
    padding-top: 20px;
    padding-bottom: 50px;
}
.section-title h2{
	font-size: 50px;
}
.wrap-top-brands{
	justify-content: center;

}
.top-brands{
	width: 15%;
}
.single-brands{
	text-align: center;
	padding: 0 20px;
}
.wrap-special-offers {
	justify-content: center;
}
.premium-lamb{
	margin-left: 10px;
	margin-right: 10px;
	width: 135%;
}
.offer-box{
	padding: 20px;
	background-color: #f6f7fb;
}
.col-lg{
	margin-left: 10px;
	margin-right: 10px;
	padding: 55px 0 55px 0;
}
.discount{
	color: #259cd8
}
.content{
	font-size: 14px

}
.counter-class{
	margin-top: 25px;
	margin-bottom: 30px,
}
.counter{
	font-size: 17px;
}
.counter-class div{
	width: 55px;
	height: 55px;
    padding-top: 9px;
    margin-right: 5px;
    border-radius: 5px;
    text-align: center;
    color: #2a2b39;
    background-color: #facb11;
    font-weight: 600;
    font-size: 12px;
    display: flex;
    flex-direction: column;
}
.shop-now{
	width: 120px;
	background-color: #259cd8;
	text-align: center;
	margin-top: 15px;
    padding: 7px;
    border-radius: 5px;
}
.shop-now span{
	color: #fff;
}
.single-product-images .img{
	position: relative;
}
.products-botton2{
	display: flex;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
    opacity: 0;
}
.products-botton2:hover{
	bottom: 30px;
	opacity: 1;
    bottom: 20px;
}
.products-botton2 li{
	align-items: center;
	margin-right: 20px;
	margin-left: 20px;
}
.products-botton2 .fas{
	background-color: white;
	padding: 10px;
}
.products-botton2 .fas:hover{
	background-color: #0dcaf0;
}
.products-botton2 .far{
	background-color: white;
	padding: 10px;
}
.products-botton2 .far:hover{
	background-color: #0dcaf0;
}	
	

 
	





	
		

